@media only screen and (max-width: 600px) {
    #footer
    {
        display: none;
    }
    #footerFlex
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
   
    }
    #smallBtnCase
    {
        display: flex;
        flex-direction: column;
    }
    #smallBtn
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
    }
 
    .contentHide{
        display: none;
    }
    .contentDisplay
    {
        display: block;
    }
    

}