@media only screen and (max-width: 600px) {
    #soft
    {
        display: flex;
        flex-direction: column-reverse;
    }
    #acct
    {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    #acctImage
    {
        border-radius: 10px;
    }
    #founding
    {
        font-size: 28px;
        font-weight: 900;
        text-overflow: clip;
    }
    #wrap
    {
      
        width: 300px;
        padding: 5px;
    }
  
    #approach
    {
       
        width: 300px;
        padding: 5px;
    }
}
.bookkeep
{
    overflow-wrap: break-word;
}
