@media only screen and (max-width: 600px) {
    .otherScreen
    {
        margin-top: 400px;
        
        padding: 10px;
        
     

    }
    .otherImage
    {
        width: 300px;
    }
    .otherFlex
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: medium;
    }
    .otherImage2
    {
        width: 200px;
    }
    .smallColo
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .smallColo .coloText
    {
        font-size: 20px;
    }
    .otherImage3{
        width:300px
    }

 

}